# tensor dumps
*.pt
# Compiler Output #
###################
*.py[cod]
*.so
*.o
*.exe
*.class

# Folders #
###########
bin/
build/
dist/
scripts/
local/
tmp/
__pycache__/
*.egg-info/
.idea/
.ipynb_checkpoints/
.vscode/
esm/dev
local/
weights/

# Cluster Ouputs #
submit*.slurm
submit*.sh
slurm_logs/
slurm*.out
*.ipynb

# Dev #
aflex.py
test_idp.py
configs/aflex_ldr.yml
data/example_*
data/diff_igso3.pkl

# Data & Outputs #
##################
*.pdb
*.csv
Training/
Testing/
AlphaFlex/Pipeline_Outputs/
AlphaFlex/Analysis/
AlphaFlex/Data_Inputs/AF2_*/
AlphaFlex/Data_Inputs/*.json
AlphaFlex/utils/
.claude/

# Junk #
########
.DS_Store*
.*.swp
*.swp
*.log
*~
